<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weapons</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Name</key>
			<string>Sword</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Attack</key>
			<integer>6</integer>
		</dict>
		<key>dagger</key>
		<dict>
			<key>Name</key>
			<string>Dagger</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Attack</key>
			<integer>3</integer>
		</dict>
		<key>bow</key>
		<dict>
			<key>Name</key>
			<string>Bow &amp; Arrows</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Attack</key>
			<integer>4</integer>
		</dict>
		<key>spear</key>
		<dict>
			<key>Name</key>
			<string>Spear</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Attack</key>
			<integer>5</integer>
		</dict>
		<key>halberd</key>
		<dict>
			<key>Name</key>
			<string>Halberd</string>
			<key>Condition</key>
			<string>10</string>
			<key>Attack</key>
			<string>7</string>
		</dict>
		<key>axe</key>
		<dict>
			<key>Name</key>
			<string>Axe</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Attack</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>armors</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Name</key>
			<string>Clothes</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Defense</key>
			<integer>1</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>Name</key>
			<string>Leather Armor</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Defense</key>
			<integer>2</integer>
		</dict>
		<key>chainmail</key>
		<dict>
			<key>Name</key>
			<string>Chainmail</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Defense</key>
			<integer>5</integer>
		</dict>
		<key>platemail</key>
		<dict>
			<key>Name</key>
			<string>Platemail</string>
			<key>Condition</key>
			<integer>10</integer>
			<key>Defense</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>supplies</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Name</key>
			<string>Fruits &amp; Nuts</string>
			<key>Health</key>
			<integer>3</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>Name</key>
			<string>Ointment &amp; Bandages</string>
			<key>Health</key>
			<integer>5</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>Name</key>
			<string>Firewood</string>
			<key>Health</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
